gradio==5.49.1
python-dotenv==1.0.1
llama-index-core==0.12.52.post1
llama-index-llms-groq==0.3.1
llama-index-embeddings-huggingface==0.5.4
llama-index-vector-stores-faiss==0.3.0
sentence-transformers==3.3.1
rank-bm25==0.2.2
faiss-cpu==1.9.0.post1
beautifulsoup4==4.12.3
requests==2.32.3
pypdf==5.1.0
lxml==6.0.2
